#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    combos {
        compatible = "zmk,combos";

        enter {
            bindings = <&kp ENTER>;
            key-positions = <19 20 21>;
        };
    };

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <180>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp TAB    &kp X        &kp V       &kp L       &kp C         &kp W    &kp K  &kp H              &kp G       &kp F            &kp Q        &kp BSPC
&kp LCTRL  &hm LCTRL U  &hm LALT I  &hm LGUI A  &hm LSHIFT E  &kp O    &kp S  &hm RIGHT_SHIFT N  &hm RGUI R  &hm RIGHT_ALT T  &hm RCTRL D  &kp Y
&kp LSHFT  &none        &none       &none       &kp P         &kp Z    &kp B  &kp M              &kp COMMA   &kp DOT          &kp J        &kp ESC
                                    &kp LGUI    &mo 3         &mo 1    &mo 2  &kp SPACE          &kp RALT
            >;
        };

        lower_layer {
            display-name = "Lower";
            bindings = <
&kp TAB    &none          &kp UNDERSCORE  &kp LBKT  &kp RBKT   &kp RCTRL       &kp EXCLAMATION  &kp LESS_THAN         &kp GREATER_THAN       &kp EQUAL         &kp AMPERSAND  &kp BSPC
&none      &kp BACKSLASH  &kp SLASH       &kp LBRC  &kp RBRC   &kp ASTERISK    &kp QUESTION     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp MINUS         &kp COLON      &kp AT_SIGN
&kp LSHFT  &kp POUND      &kp DOLLAR      &kp PIPE  &kp TILDE  &kp GRAVE       &kp PLUS         &kp PERCENT           &kp DOUBLE_QUOTES      &kp SINGLE_QUOTE  &kp SEMICOLON  &trans
                                          &kp LGUI  &trans     &trans          &kp ENTER        &trans                &kp RALT
            >;
        };

        raise_layer {
            display-name = "Raise";
            bindings = <
&kp TAB    &none        &kp BACKSPACE   &kp UP_ARROW    &kp DELETE       &none            &kp N0     &kp N1  &kp N2    &kp N3  &kp PLUS   &kp MINUS
&kp LCTRL  &kp PAGE_UP  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp PAGE_DOWN    &none      &kp N4  &kp N5    &kp N6  &kp COMMA  &kp DOT
&kp LSHFT  &none        &none           &none           &none            &none            &kp COLON  &kp N7  &kp N8    &kp N9  &kp SEMI   &kp TILDE
                                        &kp LGUI        &trans           &kp SPACE        &trans     &trans  &kp RALT
            >;
        };

        ble-connect {
            bindings = <
&trans      &trans        &trans        &trans        &trans        &trans          &trans        &trans        &trans        &trans  &trans  &trans
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &out OUT_BLE  &out OUT_USB  &out OUT_TOG  &trans  &trans  &trans
&none       &out OUT_BLE  &out OUT_USB  &out OUT_TOG  &trans        &trans          &trans        &trans        &trans        &trans  &trans  &trans
                                        &trans        &trans        &trans          &trans        &trans        &trans
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
